body {
  background-color: lightblue;
  }

    
h1, h2, h3 {
    text-align: center;
    font-family: verdana;
   color: white;
    }
p {
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 500px;
  height: 400px;
  }
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: BlueViolet;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 16px;
    margin: 0;
    padding: 1em;
    font-size:16px;
}
nav:hover {
    font-size:30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
#menu_list{
    cursor:pointer;
    } 

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
