body {
  background-color: lightblue;
  }
  
h1, h3{
    text-align: center;
    }
    
 h2,p {
    text-align: left
    }
 h3 {
    color: #8000000;
    }
img {
  display: block;
  margin: auto;
  width: 900px;
  height: 600px;
  }
