body {
  background-color: lightblue;
  }
  
h1, h3, title{
    text-align: center;
    color: white;
    }
    
 h2,p {
    text-align: left;
    font-family: courier;
    }
 h3 {
    color: #8000000;
    }
img {
  display: block;
  margin: auto;
  width: 500px;
  height: 400px;
  }
