body {
  background-color: lightblue;
  }

    
h1, h2, h3 {
    text-align: center;
    font-family: verdana;
   color: white;
    }
p {
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 500px;
  height: 400px;
  }
